<div class = "main">
	<h1>Welcome to Photopop <%= username %></h1>
<a href="/profile">Profile</a>
	</div>


	<% for (let i = 0; i < pics.length; i++) { %>
		<div class= pic>
			<a href = "/pics/pic/<%- pics[i].get('id') %>">
				<img src ="<%- pics[i].getPreviewSrc() %>"/>
				<%- pics[i].get("originalName") %>
			</a>
<!-- DISPLAY COMMENT -->
		<% for ( let i = 0; i < comment.length; i++) { %>
			<%- messages[]
		}


				<form method="post" action="photo/<%=pics[i].id%>/comment">
					<textarea name="comment" type= "text" >Enter comments here...</textarea>
					<button>Submit</button>
				</form>
</div>
<% } %>

<!--Comment error  -->
<% if (typeof error !== "undefined") { %>
		<div class="error"><%= error %></div>
	<% } %>


<div class = "log">
	<a href="/logout">logout</a>
</div>
